# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Editor and OS artifacts
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/

#Plan
#Rules
#memory-bank